In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler

In [ ]:
df1 = pd.read_csv("/content/drive/MyDrive/Datasets/YHM/carPricePrediction/carPricePrediction/CAR DETAILS FROM CAR DEKHO.csv")
df2 = pd.read_csv("/content/drive/MyDrive/Datasets/YHM/carPricePrediction/carPricePrediction/Car details v3.csv")
df3 = pd.read_csv("/content/drive/MyDrive/Datasets/YHM/carPricePrediction/carPricePrediction/car data.csv")

In [ ]:
df1.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [ ]:
df2.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [ ]:
df3.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,ritz,2014,3.35,5.59,27000,0,0,1,0,1
1,sx4,2013,4.75,9.54,43000,0,1,0,0,1
2,ciaz,2017,7.25,9.85,6900,0,0,1,0,1
3,wagon r,2011,2.85,4.15,5200,0,0,1,0,1
4,swift,2014,4.60,6.87,42450,0,1,0,0,1

Firstly on df1

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   object
 5   seller_type    4340 non-null   object
 6   transmission   4340 non-null   object
 7   owner          4340 non-null   object
dtypes: int64(3), object(5)
memory usage: 271.4+ KB

In [ ]:
df1.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

In [ ]:
Y = df1.selling_price
X = df1.drop(['selling_price','name'],axis=1)

In [ ]:
X.head()

   year  km_driven    fuel seller_type transmission         owner
0  2007      70000  Petrol  Individual       Manual   First Owner
1  2007      50000  Petrol  Individual       Manual   First Owner
2  2012     100000  Diesel  Individual       Manual   First Owner
3  2017      46000  Petrol  Individual       Manual   First Owner
4  2014     141000  Diesel  Individual       Manual  Second Owner

In [ ]:
X.fuel.value_counts()

Diesel      2153
Petrol      2123
CNG           40
LPG           23
Electric       1
Name: fuel, dtype: int64

In [ ]:
X.fuel[X.fuel == 'Diesel'] = 0
X.fuel[X.fuel == 'Petrol'] = 1
X.fuel[X.fuel == 'CNG'] = 2
X.fuel[X.fuel == 'LPG'] = 3
X.fuel[X.fuel == 'Electric'] = 4

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
X.fuel.value_counts()

0    2153
1    2123
2      40
3      23
4       1
Name: fuel, dtype: int64

In [ ]:
X.seller_type.replace('Individual',0,inplace=True)
X.seller_type.replace('Dealer',1,inplace=True)
X.seller_type.replace('Trustmark Dealer',2,inplace=True)

In [ ]:
X.seller_type.value_counts()

0    3244
1     994
2     102
Name: seller_type, dtype: int64

In [ ]:
X.transmission[X.transmission == 'Manual'] = 0
X.transmission[X.transmission == 'Automatic'] = 1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
X.transmission.value_counts()

0    3892
1     448
Name: transmission, dtype: int64

In [ ]:
X.owner.value_counts()

First Owner             2832
Second Owner            1106
Third Owner              304
Fourth & Above Owner      81
Test Drive Car            17
Name: owner, dtype: int64

In [ ]:
X.owner.replace('First Owner',0,inplace = True)
X.owner.replace('Second Owner',1,inplace = True)
X.owner.replace('Third Owner',2,inplace = True)
X.owner.replace('Fourth & Above Owner',3,inplace = True)
X.owner.replace('Test Drive Car',4,inplace = True)

In [ ]:
X.owner.value_counts()

0    2832
1    1106
2     304
3      81
4      17
Name: owner, dtype: int64

In [ ]:
X = X.astype({'fuel':int, 'transmission':int})

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          4340 non-null   int64
 1   km_driven     4340 non-null   int64
 2   fuel          4340 non-null   int64
 3   seller_type   4340 non-null   int64
 4   transmission  4340 non-null   int64
 5   owner         4340 non-null   int64
dtypes: int64(6)
memory usage: 203.6 KB

In [ ]:
xtrain, xtest, ytrain, ytest = train_test_split(X, Y, test_size=0.2)

In [ ]:
standardScaler = StandardScaler()
standardScaler.fit(xtrain)
xtrain = standardScaler.transform(xtrain)
xtest = standardScaler.transform(xtest)

In [ ]:
model = LinearRegression()
model.fit(xtrain, ytrain)
predictions = model.predict(xtest)

r2_score(ytest,predictions)

0.4725652240474253

In [ ]:
model = RandomForestRegressor(n_estimators = 100)
model.fit(xtrain, ytrain)
predictions = model.predict(xtest)

r2_score(ytest,predictions)

0.6652728014140007

df2

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        7907 non-null   object
 9   engine         7907 non-null   object
 10  max_power      7913 non-null   object
 11  torque         7906 non-null   object
 12  seats          7907 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 825.6+ KB

In [ ]:
df2.isnull().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
torque           222
seats            221
dtype: int64

In [ ]:
df2.mileage = df2.mileage.str.split(" ",expand = True)[0]
df2.engine = df2.engine.str.split(" ",expand = True)[0]
df2.max_power = df2.max_power.str.split(" ",expand = True)[0]

In [ ]:
df2 = df2.astype({'mileage':float, 'engine':float})

In [ ]:
df2.max_power = pd.to_numeric(df2.max_power)

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        7907 non-null   float64
 9   engine         7907 non-null   float64
 10  max_power      7912 non-null   float64
 11  torque         7906 non-null   object
 12  seats          7907 non-null   float64
dtypes: float64(4), int64(3), object(6)
memory usage: 825.6+ KB

In [ ]:
df2["mileage"].fillna(df2["mileage"].mean(), inplace = True)
df2["engine"].fillna(df2["engine"].mean(), inplace = True)
df2["max_power"].fillna(df2["max_power"].mean(), inplace = True)
df2["seats"].fillna(df2["mileage"].mean(), inplace = True)

In [ ]:
df2.isnull().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage            0
engine             0
max_power          0
torque           222
seats              0
dtype: int64

In [ ]:
df2 = pd.get_dummies(df2,
                         columns = ["seller_type", "fuel", "transmission", "owner"],
                         drop_first = False)

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   name                          8128 non-null   object
 1   year                          8128 non-null   int64
 2   selling_price                 8128 non-null   int64
 3   km_driven                     8128 non-null   int64
 4   mileage                       8128 non-null   float64
 5   engine                        8128 non-null   float64
 6   max_power                     8128 non-null   float64
 7   torque                        7906 non-null   object
 8   seats                         8128 non-null   float64
 9   seller_type_Dealer            8128 non-null   uint8
 10  seller_type_Individual        8128 non-null   uint8
 11  seller_type_Trustmark Dealer  8128 non-null   uint8
 12  fuel_CNG                      8128 non-null   uint8
 13  fuel_Diesel                   8128 non-null   uint8
 14  fuel_LPG                      8128 non-null   uint8
 15  fuel_Petrol                   8128 non-null   uint8
 16  transmission_Automatic        8128 non-null   uint8
 17  transmission_Manual           8128 non-null   uint8
 18  owner_First Owner             8128 non-null   uint8
 19  owner_Fourth & Above Owner    8128 non-null   uint8
 20  owner_Second Owner            8128 non-null   uint8
 21  owner_Test Drive Car          8128 non-null   uint8
 22  owner_Third Owner             8128 non-null   uint8
dtypes: float64(4), int64(3), object(2), uint8(14)
memory usage: 682.8+ KB

In [ ]:
Y = df2.selling_price
X = df2.drop(['name','selling_price','torque'],axis=1)

In [ ]:
xtrain, xtest, ytrain, ytest = train_test_split(X, Y, test_size=0.2)

In [ ]:
standardScaler = StandardScaler()
standardScaler.fit(xtrain)
xtrain = standardScaler.transform(xtrain)
xtest = standardScaler.transform(xtest)

In [ ]:
model = LinearRegression()
model.fit(xtrain, ytrain)
predictions = model.predict(xtest)

r2_score(ytest,predictions)

0.6729577242133759

In [ ]:
model = RandomForestRegressor(n_estimators = 100)
model.fit(xtrain, ytrain)
predictions = model.predict(xtest)

r2_score(ytest,predictions)

0.9754880811666948

df3

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [ ]:
df3.Seller_Type.value_counts()

Dealer        195
Individual    106
Name: Seller_Type, dtype: int64

In [ ]:
df3.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [ ]:
df3 = pd.get_dummies(df3,columns = ["Fuel_Type",'Seller_Type','Transmission'],drop_first = False)

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Car_Name                301 non-null    object
 1   Year                    301 non-null    int64
 2   Selling_Price           301 non-null    float64
 3   Present_Price           301 non-null    float64
 4   Kms_Driven              301 non-null    int64
 5   Owner                   301 non-null    int64
 6   Fuel_Type_CNG           301 non-null    uint8
 7   Fuel_Type_Diesel        301 non-null    uint8
 8   Fuel_Type_Petrol        301 non-null    uint8
 9   Seller_Type_Dealer      301 non-null    uint8
 10  Seller_Type_Individual  301 non-null    uint8
 11  Transmission_Automatic  301 non-null    uint8
 12  Transmission_Manual     301 non-null    uint8
dtypes: float64(2), int64(3), object(1), uint8(7)
memory usage: 16.3+ KB

In [ ]:
Y = df3.Selling_Price
X = df3.drop(['Car_Name','Selling_Price'],axis=1)

In [ ]:
xtrain, xtest, ytrain, ytest = train_test_split(X, Y, test_size=0.2)

In [ ]:
standardScaler = StandardScaler()
standardScaler.fit(xtrain)
xtrain = standardScaler.transform(xtrain)
xtest = standardScaler.transform(xtest)

In [ ]:
model = LinearRegression()
model.fit(xtrain, ytrain)
predictions = model.predict(xtest)

r2_score(ytest,predictions)

0.8022255087740504

In [ ]:
model = RandomForestRegressor(n_estimators = 100)
model.fit(xtrain, ytrain)
predictions = model.predict(xtest)

r2_score(ytest,predictions)

0.9592133699619028